<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar</title>
    <style>
      .login-form {
        width: 400px;
        height: 400px;
        margin: 1rem auto;
      }
      .input-group {
        width: 100%;
      }
      .input-group label {
        display: block;
      }
      .input-group input {
        width: 100%;
      }
      button {
        padding: 10px 17px;
        margin-top: 1rem;
        font-size: 1rem;
        background: #eee;
        border: 1px solid #333;
        cursor: pointer;
      }
      .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    </style>
    <link href="./stylesheets/bootstrap-4.4.1.css" rel="stylesheet">
  </head>
  <body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Editar Proyectos</h2>
                    
                    <form action="/edit_proyectos" method="POST">

                      <div class="form-outline form-white mb-4">
                        <input type="text" name="nombrev" class="form-control form-control-lg"/>
                        <label class="form-label" for="nombrev">Proyecto a editar:</label>
                      </div>

                      <div class="form-outline form-white mb-4">
                        <input type="text" name="nombren" class="form-control form-control-lg"/>
                        <label class="form-label" for="nombren">Nuevo Nombre:</label>
                      </div>

                      <div class="form-outline form-white mb-4">
                        <input type="text" name="descripcion" class="form-control form-control-lg"/>
                        <label class="form-label" for="descripcion">Descripcion:</label>
                      </div>
                      <button class="btn btn-outline-light btn-lg px-5" type="submit">Confirmar</button>
                    </form>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </body>
</html>